@import "variables/color";

.col-occupation {
  width: 20%;
}

.col-traineename {
  width: 30%;
}

.col-phone {
  width: 15%;
}

.col-birthday {
  width: 15%;
}

.col-follow {
  width: 10%;
}

.trainee-avatar {
  width: 45px;
}

#heading-index-trainees {
  background-color: $pickle-blueewood;
  color: $white;
}

#trainee-data-table_filter {
  margin-right: 10px;
}

#trainee-data-table_length {
  margin-left: 10px;
}

#trainee-data-table_paginate {
  margin-right: 10px;
}

#trainee-data-table_info {
  margin-left: 10px;
}
